// mixin para flex
@mixin flexbox ($direccion: null, $justificado: center, $alineacion: center ){
    display: flex;
    @if $direccion != null{
        flex-direction: $direccion;
    }
    justify-content: $justificado;
    align-items: $alineacion;
}

// mixin para grid
@mixin grid($fila: null, $columna: null, $gap: null) {
    display: grid;
    @if $fila != null {
        grid-template-rows: $fila;
    }
    @if $columna != null {
        grid-template-columns: $columna;
    }
    @if $gap != null {
        grid-gap: $gap;
    }
}

@mixin grid-galeria($columna-inicio, $columna-fin, $fila-inicio, $fila-fin) {
    grid-column: #{$columna-inicio} / #{$columna-fin};
    grid-row: #{$fila-inicio} / #{$fila-fin};
}
