// formulario de contacto
.formulario{
    @include flexbox ($direccion: column);
    padding: 15px;
    margin: 15px;
    box-shadow: 1px 1px 3px $color-sombras;
    border-radius: 10px;
    label{
        font-size: 20px;
        text-shadow: 1px 1px 2px $color-sombras;
    }
    input, textarea{
        box-shadow: 1px 1px 2px $color-sombras;
        border-radius: 5px;
    }
    button{
        background-color: $color-boton !important;
        border: none;
        font-size: 25px;
        padding: 6px 20px;
        box-shadow: 1px 2px 3px 1px $color-sombras;
        &:hover{
            background-color: $color-layouts !important;
        }
    }
}


