// Galería de imagenes
.galeria{
    @include grid (repeat(8, 300px), 1fr, 30px );
    // media queries galería
    @media only screen and (min-width: 480px){
        @include grid (repeat(4, 300px), 1fr 1fr);
    }
    @media only screen and (min-width: 768px){
        @include grid (repeat(), 1fr 1fr 1fr);
        
        .item1{
            @include grid-galeria (1,3,1,2);
        }
        .item2{
            @include grid-galeria (3,4,1,2);
        }
        .item3{
            @include grid-galeria (1,2,2,3); 
        }
        .item4{
            @include grid-galeria (2,4,2,3); 
        }
        .item5{
            @include grid-galeria (1,3,3,4); 
        }
        .item6{
            @include grid-galeria (3,4,3,4); 
        }
        .item7{
            @include grid-galeria (1,2,4,5);
        }
        .item8{
            @include grid-galeria (2,4,4,5);
        }
    }
    // media queries galería fin
    .item {
        background-position: center;
        background-size: cover;
        box-shadow: 1px 1px 3px $color-sombras;
        border-radius: 10px;
        transition: all 0.7s;
        filter: grayscale(100%);
        &:hover{
            filter: grayscale(0%);
            transform: scale(1.05);
        }
    }
    .item1{
        background-image: url(../assets/img/imagen_galeria1.jpg);
    }
    
    .item2{
        background-image: url(../assets/img/imagen_galeria2.jpg);
    }
    
    .item3{
        background-image: url(../assets/img/imagen_galeria3.jpg);
    }
    
    .item4{
        background-image: url(../assets/img/imagen_galeria4.jpg);
    }
    
    .item5{
        background-image: url(../assets/img/imagen_galeria5.jpg);
    }
    
    .item6{
        background-image: url(../assets/img/imagen_galeria6.jpg);
    }
    
    .item7{
        background-image: url(../assets/img/imagen_galeria7.jpg);
    }
    
    .item8{
        background-image: url(../assets/img/imagen_galeria8.jpg);
    }
}







