// caracteristicas base del body y main

body{
    background-color: $color-fondo;
    scroll-behavior: smooth;
}

main{
    h1, h2{
        padding-top: 30px;
        padding-bottom: 40px;
        text-align: center;
        font-size: 45px;
        text-shadow: 0px 2px 3px $color-sombras;
    }
} 