/* footer */
.pie-pagina{
    background-color: $color-layouts;
    color: $color-texto;
    .item-1{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 50px;
        // media queries footer 
        @media only screen and (max-width: 480px){
            width: 90%;
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 30px;
            padding: 35px 0px;
        }
        .caja{
            figure{
                @include flexbox;
                margin-top: 40px;
                a{
                    i{
                        color: $color-texto;
                        font-size: 80px;
                        margin-top: 30px;
                    }
                }
            }
            span{
                margin: 10px 0px 20px;
                font-size: 30px;
                font-weight: bold;
                @include flexbox($direccion: column);
            }
            p{
                @include flexbox;
            }
            .redes{
                @include flexbox($direccion: column);
                span{
                    margin: 10px 0px 20px;
                    font-size: 30px;
                    font-weight: bold;
                }
                .iconos-redes{
                    a{
                        i{
                            color: $color-texto;
                            font-size: 40px;
                            margin: 0px 15px 0px 0px;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
    .item-2{
        padding: 10px 10px;
        text-align: center;
        display: flex;
        justify-content: center;
        i{
            font-size: 20px;
            margin: 0px 10px;
        }
    }
}



