// cartas articulo destacados
.card{
    @extend %shadow-radius;
    img{
        border-radius: 10px;
    }
    .card-body{
        h3{
            @extend %font-size-card;
        }
        a{
            background-color: $color-boton !important;
            border: none;
        }
        & a:hover{
            background-color: $color-layouts !important;
        }
    } 
}



